<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>디자인 삼성 컴포넌트</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/common_module_renewal.css">
    <link rel="stylesheet" type="text/css" href="../../../assets/css/contents_components.css">
    <link rel="stylesheet" href="css/prism.css">
    <link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="css/guide.css">
    <!--JS-->
    <script type="text/javascript" src="../../../assets/js/vendor/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/vendor/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="../../../assets/js/vendor/swiper.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/vendor/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="../../../assets/js/vendor/detectizr.js"></script>
    <script type="text/javascript" src="../../../assets/js/vendor/detect.js"></script>
    <script type="text/javascript" src="../../../assets/js/vendor/plugin/jquery.bxslider.min.js"></script>

</head>
<body class="components">
<!-- 디버깅 -->
<div class="debug-btn-wrap">
    <button class="btn-debug">박스디버깅</button>
    <button class="btn-grid">그리드</button>
</div>

<div class="grid-wrap">
    <div class="grid">
        <div class="cell"></div>    <div class="cell"></div>    <div class="cell"></div>    <div class="cell"></div>    <div class="cell"></div>    <div class="cell"></div>    <div class="cell"></div>    <div class="cell"></div>    <div class="cell"></div>    <div class="cell"></div>
    </div>
</div>
<!-- //디버깅 -->

<div id="skip-navi">
    <a href="#container">SKIP NAVIGATION</a>
</div>

<div id="wrap" class="minify">
    <!--컨텐츠 페이지 디폴트-->
    <!--HEADER : S-->
    <div class="header_wrap"></div>
    <!--HEADER : E-->
    <div id="container">
        <div id="content">

            <style>
                span.type-tit {display: block; margin: 100px 0; padding: 15px 100px; font-size: 16px; color: #4f9fcf; background-color: #000}
                .type-tit span {margin-right: 30px; font-size: 20px; font-weight: bold; color: #fff;}
                .code {width: 60%; margin: 80px auto 0;}
                .class-guide {background: #f1f1f1; padding: 50px 30px;}
                .class-guide li {margin-top: 50px}
                .class-guide li:first-child {margin-top: 0;}
                .class-guide strong {font-size: 20px; font-weight: normal; color: #4f9fcf;}
                .class-guide dl {margin-top: 10px; font-size: 16px;}
                .class-guide dl dt,
                .class-guide dl dd {display: inline-block; margin-top: 10px;}
                .class-guide dl dt {font-weight: bold; color: #d44950;}
                .class-guide dl dd {margin-left: 15px;}
                .language-html {margin: 0; font-size: 14px;}
                pre[class*="language-"] {margin: 0;}
                .code-tit {display: block; padding: 15px 0 0 30px; font-size: 16px; font-weight: bold; color: #fff; background: #2d2d2d; box-sizing: border-box;}
            </style>

            <section class="class-guide cols-6 ml-2-col">
                <ul>
                    <li>
                        <strong>그리드 설정</strong>
                        <dl>
                            <dt>.cols-container</dt>
                            <dd>컬럼과 관련된 모든 클래스들을 감싸는 부모 컨테이너 (ex:cols-4)</dd>
                            <br>
                            <dt>.cols-<span>n</span></dt>
                            <dd>클래스 네임 뒤에 붙는 n 만큼의 컬럼값을 가짐 (ex: cols-2 는 2컬럼)</dd>
                            <br>
                            <dt>.ml-n-col</dt>
                            <dd>각각 n 만큼의 컬럼값을 좌측 마진값으로 가짐 (ex: ml-1-col은 좌측 마진 1컬럼)</dd>
                            <br>
                            <dt>.mr-n-col</dt>
                            <dd>각각 n 만큼의 컬럼값을 우측 마진값으로 가짐 (ex: mr-1-col은 우측 마진 1컬럼)</dd>
                            <br>
                            <dt>.pl-n-col</dt>
                            <dd>컬럼내의 컨테이너가 n컬럼 만큼의 좌측 패딩값을 가짐</dd>
                            <br>
                            <dt>.pr-n-col</dt>
                            <dd>컬럼내의 컨테이너가 n컬럼 만큼의 우측 패딩값을 가짐</dd>
                        </dl>
                    </li>
                    <li>
                        <strong>여백 설정</strong>
                        <dl>
                            <dt>.space-mt-24</dt>
                            <dd>웹 기준 24px, 모바일 기준 30px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-24-mob-only</dt>
                            <dd>모바일에서만 30px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-30</dt>
                            <dd>웹 기준 30px, 모바일 기준 40px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-30-mob-only</dt>
                            <dd>모바일에서만 40px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-60</dt>
                            <dd>웹버전 기준 60px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-60-mob-only</dt>
                            <dd>모바일에서만 60px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-100</dt>
                            <dd>웹버전 기준 100px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-100-mob-only</dt>
                            <dd>모바일에서만 100px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-150</dt>
                            <dd>웹버전 기준 150px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-150-mob-only</dt>
                            <dd>모바일에서만 150px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-200</dt>
                            <dd>웹버전 기준 200px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-200-mob-only</dt>
                            <dd>웹모바일에서만 200px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-300</dt>
                            <dd>웹버전 기준 300px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-300-mob-only</dt>
                            <dd>모바일에서만 300px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-400</dt>
                            <dd>웹버전 기준 400px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                            <dt>.space-mt-400-mob-only</dt>
                            <dd>모바일에서만 400px 만큼의 상단 여백값을 가짐</dd>
                            <br>
                        </dl>
                    </li>
                    <li>
                        <strong>폰트 설정</strong>
                        <dl>
                            <dt>.txt-kv-tit</dt>
                            <dd>Web - 60px/74px, Mobile - 70px/92px의 키비주얼 타이틀</dd>
                            <br>
                            <dt>.txt-kv-tit-bold</dt>
                            <dd>Web - 60px/74px, Mobile - 70px/92px의 키비주얼 볼드 타이틀</dd>
                            <br>
                            <dt>.txt-tit</dt>
                            <dd>Web - 48px/64px, Mobile - 56px/76px의 기본 타이틀</dd>
                            <br>
                            <dt>.txt-tit-bold</dt>
                            <dd>Web - 48px/64px, Mobile - 56px/76px의 볼드 타이틀</dd>
                            <!--<br>
                            <dt>.txt-tit-centered</dt>
                            <dd>Web - 48px/64px, Mobile - 56px/76px의 중앙정렬 기본 타이틀</dd>
                            <br>
                            <dt>.txt-tit-centered-bold</dt>
                            <dd>Web - 48px/64px, Mobile - 56px/76px의 중앙정렬 볼드 타이틀</dd>-->
                            <br>
                            <dt>.txt-sub-tit</dt>
                            <dd>Web - 36px/48px, Mobile - 56px/76px의 기본 서브 타이틀</dd>
                            <br>
                            <dt>.txt-sub-tit-bold</dt>
                            <dd>Web - 36px/48px, Mobile - 56px/76px의 볼드 서브 타이틀</dd>
                            <br>
                            <dt>.txt-paragraph-big</dt>
                            <dd>Web - 24px/46px, Mobile - 36px/62px의 기본 패러그래프 텍스트</dd>
                            <br>
                            <dt>.txt-paragraph-big-bold</dt>
                            <dd>Web - 24px/46px, Mobile - 36px/62px의 볼드 패러그래프 텍스트</dd>
                            <br>
                            <dt>.txt-paragraph-small</dt>
                            <dd>Web - 18px/30px, Mobile - 28px/52px의 기본 패러그래프 텍스트</dd>
                            <br>
                            <dt>.txt-disclaimer</dt>
                            <dd>Web - 14px/20px, Mobile - 24px/44px의 기본 디스클레이머 텍스트</dd>
                        </dl>
                    </li>
                    <li>
                        <strong>기타 스타일 설정</strong>
                        <dl>
                            <dt>.is-full</dt>
                            <dd>가로 100%의 크기를 가진 컨테이너 클래스</dd>
                        </dl>
                    </li>
                </ul>
            </section>

            <section class="paragraph-with-title">
                <span class="type-tit"><span>Paragraph with Title</span> 타이틀, 본문 텍스트(대), 2 & 4 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <h2 class="cols-2 ml-2-col txt-tit-bold">Cover Story</h2>
                        <p class="cols-4 txt-paragraph-big">
                            Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles.
                        </p>
                    </div>
                </div>

                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Paragraph with Title</span> 볼드 서브 타이틀, 본문 텍스트(소), 3 & 3 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <div class="cols-3 ml-2-col">
                            <h3 class="txt-sub-tit-bold">Text only - First</h3>
                            <p class="txt-paragraph-small space-mt-50">
                                Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement.
                            </p>
                        </div>
                        <div class="cols-3 space-mt-80-mob-only">
                            <h3 class="txt-sub-tit-bold">Text only - Second</h3>
                            <p class="txt-paragraph-small space-mt-50">
                                IIndividuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention of those who desire novelty.
                            </p>
                            <span class="txt-disclaimer space-mt-30">
                                Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter.
                            </span>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->
            </section>

            <section class="only-paragraph">
                <span class="type-tit"><span>Only paragraph</span> 본문 텍스트(소), 6 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <div class="cols-5 ml-2-col">
                            <div class="txt-paragraph-small pr-2-col">
                                <p>
                                    Individuality is of utmost importance for Millenvnials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Centered paragraph</span> 타이틀, 중앙 정렬 타입, 6 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <h3 class="cols-6 ml-2-col txt-tit-centered" style="line-height: 1.6;">
                            Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter.
                        </h3>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->
            </section>

            <section class="paragraph-with-image">
                <span class="type-tit"><span>Paragraph with Image</span>풀사이즈 이미지, 볼드 타이틀, 본문 텍스트(대), 2 & 4 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <div class="is-full">
                            <div class="img-container" style="padding-top: 50%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                        </div>
                        <div class="space-mt-80">
                            <h2 class="cols-2 ml-2-col txt-tit-bold">Second Cover Story</h2>
                            <p class="cols-4 space-mt-50-mob-only txt-paragraph-big">
                                Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Paragraph with Image</span>6 컬럼 이미지, 4 컬럼 본문 텍스트(대)</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <div class="cols-6 ml-2-col">
                            <div class="img-container" style="padding-top: 50%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                        </div>
                        <p class="cols-4 ml-3-col space-mt-80 txt-paragraph-big">
                            Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles.
                        </p>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Paragraph with Image</span>볼드 타이틀, 본문 텍스트(소), 4 & 4 컬럼 구성, floating 된 이미지</span>
                <div class="comp-con">
                    <div class="cols-container clearfix">
                        <div class="cols-4 img-float-right mr-1-col">
                            <div class="img-container" style="padding-top: 70%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                        </div>
                        <div class="cols-4 ml-1-col space-mt-80-mob-only">
                            <h3 class="txt-tit-bold">Image first in DOM</h3>
                            <p class="txt-paragraph-small space-mt-50">
                                보기에는 텍스트 - 이미지 순서로 보이지만 코드상에서는 이미지가 먼저 오는 컴포넌트 타입으로 <span style="color:#4f9fcf;">텍스트 - 이미지 순서의 웹 버전 디자인, 이미지 - 텍스트 순서의 모바일 버전 디자인</span>을 가지고 있을시 사용하는 컴포넌트.
                            </p>
                            <p class="txt-paragraph-small space-mt-30">
                                Individuality is of utmost importance for Millenvnials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Paragraph with Image</span>볼드 타이틀, 본문 텍스트(소), 4 & 4 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <div class="cols-4 ml-1-col">
                            <h3 class="txt-tit-bold">Text first in DOM</h3>
                            <p class="txt-paragraph-small space-mt-50">
                                <span style="color:#4f9fcf;">웹, 모바일 버전에서 동일하게 텍스트 - 이미지 순서의 구성</span>일때 사용하는 컴포넌트 타입.
                            </p>
                            <p class="txt-paragraph-small space-mt-30">
                                Individuality is of utmost importance for Millenvnials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention.
                            </p>
                        </div>
                        <div class="cols-4 space-mt-80-mob-only">
                            <div class="img-container" style="padding-top: 70%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->


                <span class="type-tit"><span>Paragraph with Image</span>서브 타이틀, 본문 텍스트(소), 디스클레이머, 4 & 3 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <div class="cols-4 ml-1-col">
                            <div class="img-container" style="padding-top: 80%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                        </div>
                        <div class="cols-3 space-mt-80-mob-only">
                            <h3 class="txt-sub-tit-bold">First sub-title text</h3>
                            <p class="txt-paragraph-small space-mt-50">
                                Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention of those who desire novelty.
                            </p>
                            <span class="txt-disclaimer space-mt-30">
                                Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter.
                            </span>
                            <h3 class="txt-sub-tit-bold space-mt-50">Second sub-title text</h3>
                            <p class="txt-paragraph-small space-mt-50">
                                <span class="txt-emphasize" style="color: #2345b0;">Question 1.</span> Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><span></span><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Paragraph with Image</span>볼드 서브 타이틀, 본문 텍스트(소), 4 & 4 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <div class="cols-4 ml-1-col">
                            <div class="img-container" style="padding-top: 80%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                            <div class="space-mt-80 pl-1-col">
                                <h3 class="txt-sub-tit-bold">First title text</h3>
                                <p class="txt-paragraph-small space-mt-50">
                                    Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention of those who desire novelty.
                                </p>
                                <span class="txt-disclaimer space-mt-30">
                                    Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter.
                                </span>
                            </div>
                        </div>
                        <div class="cols-4 space-mt-80-mob-only">
                            <div class="img-container" style="padding-top: 140%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                            <div class="space-mt-80 pr-1-col">
                                <h3 class="txt-sub-tit-bold">Second title text</h3>
                                <p class="txt-paragraph-small space-mt-50">
                                    Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention of those who desire novelty.
                                </p>
                                <span class="txt-disclaimer space-mt-30">
                                    Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Paragraph with background Image</span>풀사이즈 백그라운드, 볼드 서브 타이틀, 2 컬럼 텍스트</span>
                <div class="comp-con">
                    <div class="has-bg-con" style="height: 500px;">
                        <div class="cols-container">
                            <div class="is-full">
                                <div class="img-container">
                                    <div class="img-box">
                                        <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="cols-2 ml-2-col" style="padding-top: 100px;">
                                <h3 class="txt-sub-tit-bold white-txt">First title text</h3>
                                <p class="txt-paragraph-small white-txt">
                                    Individuality is of utmost importance for Millennials, and for them.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Paragraph with background Image</span>8컬럼 백그라운드, 볼드 서브 타이틀, 2 컬럼 텍스트</span>
                <div class="comp-con">
                    <div class="has-bg-con" style="height: 500px;">
                        <div class="cols-container">
                            <div class="cols-8 ml-1-col">
                                <div class="img-container">
                                    <div class="img-box">
                                        <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="cols-2 ml-2-col" style="padding-top: 100px;">
                                <h3 class="txt-sub-tit-bold white-txt">First title text</h3>
                                <p class="txt-paragraph-small white-txt">
                                    Individuality is of utmost importance for Millennials, and for them.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Mid-aligned paragraph with background Image</span>6컬럼 백그라운드, 볼드 서브 타이틀, 세로 중앙 정렬 2 컬럼 텍스트</span>
                <div class="comp-con">
                    <div class="has-bg-con" style="height: 500px;">
                        <div class="cols-container vertical-mid-con">
                            <div class="cols-6 ml-2-col">
                                <div class="img-container">
                                    <div class="img-box">
                                        <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="cols-2 vertical-mid-txt ml-4-col">
                                <h3 class="txt-sub-tit-bold white-txt">First title text</h3>
                                <h4 class="txt-sub-tit-white-txt">Sub-title text</h4>
                                <p class="txt-paragraph-small white-txt">
                                    Individuality is of utmost importance for Millennials, and for them.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Mid-aligned boxes</span>볼드 서브 타이틀, 본문 텍스트(소), 4 & 4 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container vertical-mid-align">
                        <div class="cols-4 ml-1-col">
                            <h3 class="txt-tit-bold">Text first in mobile</h3>
                            <p class="txt-paragraph-small space-mt-50">
                                Flex를 사용한 세로 중앙 정렬 컴포넌트로 둘 중 어느 컨테이너가 커지던지에 상관없이 <span style="color: #4f9fcf;">높이가 큰 컨테이너를 기준으로 중앙에 위치</span>하게 된다. IE9 이하 버전에서는 정렬없이 상단에 위치하게 된다.
                            </p>
                            <p class="txt-paragraph-small space-mt-30">
                                Individuality is of utmost importance for Millenvnials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention.
                                Individuality is of utmost importance for Millenvnials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention.
                            </p>
                        </div>
                        <div class="cols-4 space-mt-80-mob-only">
                            <div class="img-container" style="padding-top: 90%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Mid-aligned boxes</span>볼드 서브 타이틀, 본문 텍스트(소), 4 & 4 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container vertical-mid-align-row-reversed">
                        <div class="cols-4 mr-1-col">
                            <div class="img-container" style="padding-top: 90%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                        </div>
                        <div class="cols-4 space-mt-50-mob-only">
                            <h3 class="txt-tit-bold">Image first in mobile</h3>
                            <p class="txt-paragraph-small space-mt-50">
                                위와 동일한 세로 중앙 정렬 컴포넌트지만 <span style="color: #4f9fcf;">텍스트 - 이미지 순서의 웹 버전 디자인, 이미지 - 텍스트 순서의 모바일 버전 디자인</span>을 가지고 있을시 사용한다.
                            </p>
                            <p class="txt-paragraph-small space-mt-30">
                                Individuality is of utmost importance for Millenvnials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention.
                                Individuality is of utmost importance for Millenvnials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention.
                            </p>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <span class="type-tit"><span>Paragraph with Image and image slider</span>이미지 슬라이더, 볼드 서브 타이틀, 본문 텍스트(소), 디스클레이머, 4 & 4 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <div class="cols-4 ml-1-col">
                            <div class="img-container" style="padding-top: 80%;">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                </div>
                            </div>
                            <div class="space-mt-80 pl-1-col">
                                <h3 class="txt-sub-tit-bold">First title text</h3>
                                <p class="txt-paragraph-small space-mt-50">
                                    슬라이더 생성은 <span style="color: #4f9fcf">sample.js에 있는 _setSliders 함수 참조</span>.
                                </p>
                                <p class="txt-paragraph-small space-mt-30">
                                    Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention of those who desire novelty.
                                </p>
                                <span class="txt-disclaimer space-mt-30">
                                    Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter.
                                </span>
                            </div>
                        </div>
                        <div class="cols-4 space-mt-80-mob-only">
                            <div class="slider-container slider-1" style="padding-top: 140%;">
                                <ul class="slider">
                                    <li class="img-box">
                                        <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_1_1.jpg')"></figure>
                                    </li>
                                    <li class="img-box">
                                        <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                    </li>
                                    <li class="img-box">
                                        <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_1_2.jpg')"></figure>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->

                <!--<span class="type-tit"><span>Paragraph with Image and image rolling</span>볼드 서브 타이틀, 본문 텍스트(소), 4 & 4 컬럼 구성</span>
                <div class="comp-con">
                    <div class="cols-container">
                        <div class="cols-4 ml-1-col">
                            <h3 class="txt-sub-tit-bold">First title text</h3>
                            <p class="txt-paragraph-small space-mt-50">
                                scss에서 <span style="color:#4f9fcf;">cross-fader 믹스인을 사용</span>해서 이미지 롤링 생성. 이미지의 순서는 <span style="color: #4f9fcf">보여주고자 하는 순서의 역순</span>으로 넣는다 (하단 예제 코드 참조).
                            </p>
                            <p class="txt-paragraph-small space-mt-30">
                                Individuality is of utmost importance for Millennials, and for them, a wearable device should not be limited to simply making everyday life smarter. Inspired by the desires of Millennials to become set apart from the crowd and create their own unique lifestyles, the Galaxy Watch has gone through another sturdy process of refinement. The unique design of the bezel and the brilliance of the newly enhanced intelligent Circular UX demand the attention of those who desire novelty.
                            </p>
                        </div>
                        <div class="cols-4 space-mt-80-mob-only">
                            <div class="img-rolling-container">
                                <ul class="img-rolling onTrans" style="padding-top: 100%;">&lt;!&ndash; 이미지 순서는 역순으로 넣는다 &ndash;&gt;
                                    <li class="img-3 img-box">
                                        <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_1_1.jpg')"></figure>
                                    </li>
                                    <li class="img-2 img-box">
                                        <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                                    </li>
                                    <li class="img-1 img-box">
                                        <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_1_2.jpg')"></figure>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <style>

                        /* scss에서 mixin 선언 필요 */
                        .img-rolling{
                            &.onTrans{
                                li{@include cross-fader(3, 3, 0.6);}/* $items, $visibility, $transition */
                            }
                        }
                    </style>
                </div>
                &lt;!&ndash; 코드 생성영역 &ndash;&gt;
                <div class="code"><pre><code class="language-html"></code></pre></div>
                &lt;!&ndash; // 코드 생성영역 &ndash;&gt;-->

                <span class="type-tit"><span>Paragraph with Image and image rolling</span>볼드 서브 타이틀, 본문 텍스트(소), 4 & 4 컬럼 구성</span>
                <div class="comp-con">
                    <div class="video-con cols-8 ml-1-col">
                        <p class="alt-txt-hide">비디오 알트 텍스트</p>
                        <div class="img-container" style="padding-top: 56.25%;">
                            <div class="img-box">
                                <figure class="mod-covered-bg" style="background-image:url('http://design.samsung.com/kr/contents/galaxy_home/img/sec3_2_2.jpg')"></figure>
                            </div>
                        </div>
                        <a href="#" class="btn-play"><span class="alt-txt-hide">play video</span></a>
                    </div>

                    <!-- <div class="footer_wrap"></div> 위에 붙여넣기 -->
                    <div class="video-popup">
                        <a href="#" class="btn-close"><span>닫기</span></a>
                    </div>
                    <!-- // <div class="footer_wrap"></div> 위에 붙여넣기 -->
                </div>
                <!-- 코드 생성영역 -->
                <div class="code"><pre><code class="language-html"></code></pre></div>
                <!-- // 코드 생성영역 -->
            </section>

            <!-- 예외 컴포넌트 -->
            <section class="">
                <span class="type-tit"><span>[예외1] 그리드를 벗어나는 예제</span></span>
                <div class="ex-test-grid space-mt-200">
                    <div class="cols-container">
                        <div class="is-full">
                            <div class="img-container">
                                <div class="img-box">
                                    <figure class="mod-covered-bg" style="background-image:url('http://ssd.designfever.com/assets/img/bg_test_grid.jpg')"></figure>
                                </div>
                            </div>
                        </div>
                        <div class="cols-4 ml-5-col roll">
                            <div>내부 이미지</div>
                        </div>
                        <div class="cols-2 ml-2-col txt-holder" style="padding-top:150px;">
                            <h3 class="txt-sub-tit-bold">First title text</h3>
                            <p class="txt-paragraph-small">
                                Individuality is of utmost importance for Millennials, and for them.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- 여백 -->
                <div style="padding:6vw 0"></div>
            </section>

        </div>
    </div>

    <!--FOOTER 공통 :s-->
    <div class="footer_wrap"></div>
    <!--FOOTER 공통 :e-->
</div>
<script type="text/javascript" src="js/motion.js"></script>
<script type="text/javascript" src="js/prism.js"></script>
<script type="text/javascript" src="../../../assets/js/vendor/plugin/jquery.bxslider.js"></script>
<script type="text/javascript" src="js/sample.js"></script>
<script type="text/javascript" src="js/page.js"></script>
<!-- 디버깅용 jj -->
<script>
    $(function(){

        var btnDebug = $('.btn-debug');
        btnDebug.click(function(){
            $('body').toggleClass('box-debug');
        })

        var grid= $('.grid-wrap');
        var btnGrid = $('.btn-grid');
        console.log($('#wrap').height())
        var warpperHeight = $('#wrap').height();
        grid.find('.grid').css('height', warpperHeight);
        btnGrid.click(function(){
            grid.toggle();
        })
    })
</script>
</body>
</html>