@charset "utf-8";
html, body {margin:0; padding:0; background:#fff;}

summary { display:none}
/* link */
a { text-decoration:none}
a:link {color:#000; text-decoration:none}
a:visited {color:#000; text-decoration:none}
a:active { color:#000; text-decoration:none}
a:hover {color:#000; text-decoration:underline}

/* image */
img {border:0; vertical-align:top}

/* define */
dl, dt, dd {margin:0px; padding:0px;}

/* sentence */
div, h2{padding:0; margin:0;}
p {margin:0px; padding:0px}

/* list */
ul, ol {list-style-type:none; margin:0px; padding:0px; }

/* area */
hr {display:none;}

/* form */
form {margin:0; padding:0;}
form label, label {height:19px; color:#5E5E5E; cursor:default; font-size:100%;}
select {font-size:100%; font-family:"arial","dotum", "sans-serif"; background:#fff; vertical-align:middle; height:20px; letter-spacing:0px}
legend {display:none;}
fieldset {margin:0; padding:0; border:none;}

/* table */
table {margin:0px; padding:0px; border-spacing:0;}
td {margin:0px; padding:0px; font-size:100%; color:#777777;}
.notable{border-collapse:collapse; margin:0; padding:0; border-spacing:0; border:0 solid;}
th {  font-weight:normal;}
/* h */
strong, b {  font-weight:normal;}
body, ul, li, ol, dl, dt, dd, p, div, h1, h2, h3, h4, h5{margin:0px;padding:0;list-style:none;font-weight:normal}
body{overflow-x:hidden;color:#000}
::selection{color:#000 !important}

#section{width:100%;height:100%;-webkit-text-size-adjust:none;font-size:15px;text-align:justify;line-height:24px;letter-spacing:-0.5px}
#section img{width:100%}
#section img.no-margin{margin:0}
#section > div{background-color:#ececec;background-size:100% auto}
#section div > p span{letter-spacing:0}
#section .main a.close{width:45px;height:45px;display:block;position:fixed;top:0;right:0;z-index:1000}
#section > a img{display:block;width:100%}
#section .sub> div{position:relative}
#section .sub a.back{display:block;position:fixed;width:15%;height:auto;left:0;top:0;z-index:10}
img{ width:100% }
li,a { -webkit-tap-highlight-color:rgba(0,0,0,0); }
.btn-close{ width: 45px; height: 45px; display: block; position: fixed; top: 0; right: 0; z-index: 1000; }
/* info_rotate */
.acc_tag{position:absolute;left:-9999px;top:-9999px;visibility:hidden;height:0;width:0;text-indent:-9999px;font-size:0}


@import "../scss_renewal/module_m";
