@charset "utf-8";
// site common utils
@import "../../../../assets/scss_renewal/ds_core/importer";

/* temp contents styles */

@include break-point($tablet) {
    .code {width: 90%!important;}
}

@include break-point($mobile) {
    .type-tit {
        padding: 15px 4%!important;
        span {display: block;}
    }
    .code {width: 92%!important;}
}

.img-box {
    text-align: center;
    figure {
        &:before {
            display: inline-block;
            content: '';
            width: 0; height: 100%;
            vertical-align: middle;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            color: #fff;
            font-size: 60px;
        }
    }
}

.sec-kv  {
    width: 100%; height: calc(100vh - 70px);
    text-align: center;
    background-color: #7F7F7F;

    h1 {
        font-size: 100px;
        color: #000;

        @media screen and (max-width: 750px) {
            font-size: 20vw;
        }
    }
}

.sec-1 {
    width: 100%; height: calc(100vh - 70px);
    text-align: center;
    background-color: #5b5b5b;
    p {
        text-align: left;
        color: #fff;
    }
}

.img-rolling{
    &.onTrans{
        li{@include cross-fader(3, 3, 0.6);}
    }
}


/* motion */
$txtSpace :2vw;

.motion {
    &.zoom-out {
        @include opacity(0);@include transform(scale(1.1));
        &.onTrans {@include opacity(1);@include transform(scale(1));@include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
    }

    &.fade-in {
        @include opacity(0);
        &.onTrans {@include opacity(1); @include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
    }

    &.slide-in-up {
        @include opacity(0); @include transform(translateY($txtSpace));
        &.onTrans {@include opacity(1); @include transform(translateY(0)); @include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
    }
}

/*.img-box {
    @include transform-origin(50%, 50%);
    &.motion{@include opacity(0);@include transform(scale(1.1));}
    &.onTrans {@include opacity(1);@include transform(scale(1));@include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
}
.is-full {
    .img-box {
        &.motion {@include opacity(1);@include transform(scale(1.1));}
        &.onTrans {@include opacity(1);@include transform(scale(1));@include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
    }
}
.txt-tit-bd {
    &.motion{@include opacity(0);}
    &.onTrans {@include opacity(1); @include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
}
.txt-sub-tit-bd {
    &.motion{@include opacity(0);}
    &.onTrans {@include opacity(1); @include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
}
.txt-tit-centered {
    &.motion {@include opacity(0); @include transform(translateY($txtSpace));}
    &.onTrans {@include opacity(1); @include transform(translateY(0)); @include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
}
.txt-paragraph-big {
    &.motion{@include opacity(0);}
    &.onTrans {@include opacity(1);@include transform(translateY(0));@include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
}
.txt-paragraph-sml {
    &.motion{@include opacity(0); @include transform(translateY($txtSpace));}
    &.onTrans {@include opacity(1);@include transform(translateY(0));@include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
}
.txt-disclaimer {
    &.motion{@include opacity(0); @include transform(translateY($txtSpace));}
    &.onTrans {@include opacity(1); @include transform(translateY(0)); @include transform-css-transition(1, 0.4, ease-in-out, opacity 1s 0.4s);}
}


// in grouping
.motion {
    .img-box {@include transform-origin(50%, 50%); @include opacity(0); @include transform(scale(1.1));}

    &.is-full {
        .img-box {@include opacity(1); @include transform(scale(1.1));}
    }

    .txt-tit-bd {@include opacity(0);}

    .txt-sub-tit-bd {@include opacity(0);}

    .txt-tit-centered {@include opacity(0); @include transform(translateY($txtSpace));}

    .txt-paragraph-big {@include opacity(0);}

    .txt-paragraph-sml {@include opacity(0); @include transform(translateY($txtSpace));}

    .txt-disclaimer {@include opacity(0); @include transform(translateY($txtSpace));}

    // container control
    &.onTrans {
        .img-box {
            @include opacity(1);
            @include transform(scale(1));
            @include transform-css-transition(1, 0, ease-in-out, opacity 1s);
        }

        &.is-full {
            .img-box {
                @include opacity(1);
                @include transform(scale(1));
                @include transform-css-transition(2, 0, ease-in-out, opacity 2s);
            }
        }

        .txt-tit-bd {@include opacity(1); @include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
        .txt-sub-tit-bd {@include opacity(1); @include transform-css-transition(1, 0, ease-in-out, opacity 1s);}
        .txt-paragraph-big {@include opacity(1);@include transform-css-transition(1, 0.4, ease-in-out, opacity 1s 0.4s);}
        .txt-paragraph-sml {@include opacity(1); @include transform(translateY(0)); @include transform-css-transition(1, 0.4, ease-in-out, opacity 1s 0.4s);}
        .txt-disclaimer {@include opacity(1); @include transform(translateY(0)); @include transform-css-transition(1, 0.4, ease-in-out, opacity 1s 0.4s);}

    }
}*/

// related stories
.related-stories-wrap {
    .title {
        h3 {}
    }
    .component-list {
        //li {
        //    .title, .desc, .date {@include opacity(0);}
        //    .img {
        //        .item {@include opacity(0);}
        //    }
        //}
    }

    &.onShow {
        .component-list {
            li {
                .title, .desc, .date {@include opacity(1); @include transform-css-transition(1.2, 0.4, ease-in-out, opacity 1.2s 0.4s);}
                .img {
                    .item {@include opacity(1); @include transform-css-transition(1.2, 0, ease-in-out, opacity 1.2s);}
                }
            }
        }
    }
}

