@charset "utf-8";
// site common utils
@import "../../../../assets/scss_renewal/ds_core/importer";

@mixin css-trans-duration-delay($time:1,$delay:0) {
    @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
        #{$prefix}transition-duration: #{$time};
        #{$prefix}transition-delay: #{$delay};
    }
}

// 필요한 변수 선언

$txtSpace :2vw;

$time1 : 0.3s;
$time2 : 0.4s;
$time3 : 0.7s;
$time4 : 1s;

$delay1 : 0s;
$delay2 : 0.2s;
$delay3 : 0.5s;
$delay4 : 0.3s;

.motion {
    .zoom-out {
        @include opacity(0);@include transform(scale(1.1));
    }

    .fade-in {
        @include opacity(0);
    }

    .slide-in-up {
        @include opacity(0); @include transform(translateY($txtSpace));
    }

    &.onTrans {
        .zoom-out {
            @include opacity(1);@include transform(scale(1));@include transform-css-transition(1, 0, ease-in-out, opacity 1s );
        }

        .fade-in {
            @include opacity(1); @include transform-css-transition(1, 0, ease-in-out, opacity 1s);
        }

        .slide-in-up {
            @include opacity(1); @include transform(translateY(0)); @include transform-css-transition(1, 0, ease-in-out, opacity 1s);
        }

        &.set-1 {
            .step- {
                &1 {@include css-trans-duration-delay('', $delay1);}
                &2 {@include css-trans-duration-delay('', $delay1 + $delay2);}
                &3 {@include css-trans-duration-delay($time3, $delay1 + $delay2 + $delay3);}
                &4 {@include css-trans-duration-delay($time3, $delay1 + $delay2 + $delay3 + $delay4);}
                &5 {@include css-trans-duration-delay($time3, $delay1 + $delay2 + $delay3 + $delay4 + $delay4);}
            }
        }

        &.set-2 {
            .step- {
                &1 {@include css-trans-duration-delay('', $delay1);}
                &2 {@include css-trans-duration-delay($time3, $delay1 + $delay2);}
            }
        }
    }
}